/* header styling */
body{
    background-color: #efeee7;
    font-family: Georgia,"Times New Roman",Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
}
header{
    background-color: #333333;
}

h1{
    color: #eee;
    font-size: 28px;
    text-align: center;
    padding: 20px 0;
    margin: 0 0 20px 0;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

h2{
    font-size: 24px;
}

#bio-image{
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

#main-bio,
#bio-image,
#contact-info{
    float: left;
}

#main-bio{
    width:70%
}


#contact-info{
    width:30%
}

a{
    color: #d21034;
}